<!DOCTYPE HTML>
<html>
	<head>
		<title>AIयोजन</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../../static/assets/main/css/main.css" />
		<link rel="icon" type="image/x-icon" href="../../static/images/Logo1.ico">
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="/"><b style="color: #389138;font-weight: 600;">AI</b><b style="color: #B0E60B;font-weight: 600;">योजन</b></a></h1>
					<nav id="nav">
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/logout" class="button primary">Log Out</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<div class="col-4 col-12-xsmall" style="margin-bottom: 1rem;"> <a href="/college/calendar/{{a_code}}"><input type="submit" value="Calender Planning" class="fit primary" /></a></div>
						<div class="col-4 col-12-xsmall"><a href="/collegeaicte"><input type="submit" value="AICTE calender" class="fit primary" /></a></div>
						<div class="col-4 col-12-xsmall" style="margin-top: 1rem;"><a href="#"><input type="submit" value="Annual Calendar" class="fit primary" /></a></div>
					</div>
				</section>

				
			<!-- Five -->
				<section id="five" class="wrapper style2 special fade">
					<div class="container">
						<header>
							<h2>Have Suggestions</h2>
							<p>If you have any suggestions or query you can submit your email here.Our team will get in touch with you soon.</p>
						</header>
						<form method="post" action="#" class="cta">
							<div class="row gtr-uniform gtr-50">
								<div class="col-8 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>
								<div class="col-4 col-12-xsmall"><input type="submit" value="Submit" class="fit primary" /></div>
							</div>
						</form>
					</div>
				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<!-- <li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li> -->
						<li><a href="https://github.com/shahhilag/SIH22-AIYOJAN" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="mailto:dummy@gmail.com" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; AIयोजन. All rights reserved.</li>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="../../static/assets/main/js/jquery.min.js"></script>
			<script src="../../static/assets/main/js/jquery.scrolly.min.js"></script>
			<script src="../../static/assets/main/js/jquery.dropotron.min.js"></script>
			<script src="../../static/assets/main/js/jquery.scrollex.min.js"></script>
			<script src="../../static/assets/main/js/browser.min.js"></script>
			<script src="../../static/assets/main/js/breakpoints.min.js"></script>
			<script src="../../static/assets/main/js/util.js"></script>
			<script src="../../static/assets/main/js/main.js"></script>

	</body>
</html>