<html>
  <head>
    <title>AIयोजन-Calendar</title>
    <link href="../../static/assets/calender/css/calendar.css" rel="stylesheet">
    <script type="text/javascript" async src="../../static/assets/calender/js/calendar_all.js"></script>
    <link rel="stylesheet" href="../../static/assets/main/css/main.css" />
    <link rel="icon" type="image/x-icon" href="../../static/images/Logo1.ico">
  </head>
  <style>
    body {
  /* padding: 25px; */
  background-color: white;
  /* color: black; */
  /* font-size: 25px; */
}
.dark-mode {
  background-color: black;
  color: white;
}

  </style>
  <body>
    	<!-- Header -->
      <header id="header">
        <h1 id="logo"><a href="/"><b style="color: #389138;font-weight: 600;">AI</b><b style="color: #B0E60B;font-weight: 600;">योजन</b></a></h1>
        <nav id="nav">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a onclick="myFunction();" class="button primary">Toggle</a></li>
          </ul>
        </nav>
      </header>
    
      <div id="cal-wrap">
  
      <div id="cal-date">
        <select id="cal-mth"></select>
        <select id="cal-yr"></select>
      </div>


      <div id="cal-container"></div>

      <form id="cal-event">
        <h1 id="evt-head"></h1>
        <!-- <div id="evt-date" onclick="MyFunction1();"></div> -->
        <div id="evt-date"></div>
        <textarea id="evt-details" required></textarea>
        <input id="evt-close" type="button" value="Close"/>
        <input name="delete" id="evt-del" type="button" value="Delete"/>
        <!-- <input id="evt-save" type="submit" value="Save" /> -->
        <input id="evt-save" type="submit" value="Save"/>
      </form>
    </div>
    <script>
      function myFunction() {
        var element = document.body;
        element.classList.toggle("dark-mode");
      }
    </script>
    <!-- Scripts -->
			<script src="../../static/assets/main/js/jquery.min.js"></script>
			<script src="../../static/assets/main/js/jquery.scrolly.min.js"></script>
			<script src="../../static/assets/main/js/jquery.dropotron.min.js"></script>
			<script src="../../static/assets/main/js/jquery.scrollex.min.js"></script>
			<script src="../../static/assets/main/js/browser.min.js"></script>
			<script src="../../static/assets/main/js/breakpoints.min.js"></script>
			<script src="../../static/assets/main/js/util.js"></script>
			<script src="../../static/assets/main/js/main.js"></script>
  </body>
</html>
