<!DOCTYPE HTML>
<html>
	<head>
		<title>AIयोजन</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../../static/assets/main/css/main.css" />
		<link rel="icon" type="image/x-icon" href="../../static/images/Logo1.ico">
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="/"><b style="color: #389138;font-weight: 600;">AI</b><b style="color: #B0E60B;font-weight: 600;">योजन</b></a></h1>
					<nav id="nav">
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/collegelist">Colleges</a></li>
							<li><a href="/studentcalendarall">Annual Calendar</a></li>
							<li><a href="/login" class="button primary">Log In</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h2 style="color: #389138;">AI<b style="color: #B0E60B;">योजन</b></h2>
							<p>A centralized platform for displaying annual<br />
							 academic calendar for Indian Universities</p>
						</header>
						<span class="image"><img src="../../static/images/Logo1.png" alt="" /></span>
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>

			<!-- One -->
				<section id="one" class=" style1 bottom">
					<div class="content">
						<div class="container">
							<div class="row">
								<div class="col-12" style="text-align: center;padding-top: 2rem;">
										<h2>How our application works?</h2>
								</div>
							</div>
						</div>
					</div>
					<a href="#two" class="goto-next scrolly">Next</a>
				</section>

			<!-- Two -->
				<section id="two" class="spotlight style2 right">
					<span class="image fit main"><img src="../../static/images/1.png" alt="" /></span>
					<div class="content">
						<header>
							<h2>Step 1</h2>
							<p>Open the calender and explore the university you are interested in</p>
						</header>
						<ul class="actions">
							<li><a href="\studentcalendar" class="button">Explore</a></li>
						</ul>
					</div>
					<a href="#three" class="goto-next scrolly">Next</a>
				</section>

			<!-- Three -->
				<section id="three" class="spotlight style3 left">
					<span class="image fit main bottom"><img src="../../static/collegeimg/2.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>Step 2</h2>
							<p>Detailed analysis of college</p>
						</header>
						<ul class="actions">
							<li><a href="/login" class="button">Login to college section</a></li>
						</ul>
					</div>
					<a href="#four" class="goto-next scrolly">Next</a>
				</section>

				<section id="four" class="spotlight style2 right">
					<span class="image fit main"><img src="../../static/images/3.png" alt="" /></span>
					<div class="content">
						<header>
							<h2>Step 3</h2>
							<p>Apply to the college you are interested in</p>
						</header>
						<ul class="actions">
							<li><a href="#" class="button">Learn More</a></li>
						</ul>
					</div>
					<a href="#five" class="goto-next scrolly">Next</a>
				</section>
			<!-- Four -->
				<section id="five" class="wrapper style1 special fade-up">
					<div class="container">
						<header class="major">
							<h2>Special Features and Video Demonstration</h2>
							<p>The highlighting features of our product are</p>
						</header>
						<div class="box alt">
							<div class="row gtr-uniform">
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-chart-area"></span>
									<h3>Statistical data</h3>
									<p>Colleges can find their respective statistical data in their respective college section.</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-flask"></span>
									<h3>Efficient Algorithms and Data Security</h3>
									<p>Efficient space/time complexity and encryption to enhance the security and speed.</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-comment"></span>
									<h3>Simplicity</h3>
									<p>Simplicity and user experience are our core values.</p>
								</section>
								<b style="margin:0 auto">To explore the video Demonstration of the website <a href="#" style="text-decoration: none;">click here</a></b>
							</div>
						</div>
						<footer class="major">
							<ul class="actions special">
								<li><a href="#fivecontact" class="button scrolly">Contact Us</a></li>
							</ul>
						</footer>
					</div>
				</section>


				
			<!-- Five -->
				<section id="five" class="wrapper style2 special fade">
					<div class="container">
						<header>
							<h2>Have Suggestions</h2>
							<p>If you have any suggestions or query you can submit your email here.Our team will get in touch with you soon.</p>
						</header>
						<form id="fivecontact" method="post" action="#" class="cta">
							<div class="row gtr-uniform gtr-50">
								<div class="col-8 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>
								<div class="col-4 col-12-xsmall"><input type="submit" value="Submit" class="fit primary" /></div>
							</div>
						</form>
					</div>
				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<!-- <li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li> -->
						<li><a href="https://github.com/shahhilag/SIH22-AIYOJAN" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="mailto:dummy@gmail.com" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; AIयोजन. All rights reserved.</li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="../../static/assets/main/js/jquery.min.js"></script>
			<script src="../../static/assets/main/js/jquery.scrolly.min.js"></script>
			<script src="../../static/assets/main/js/jquery.dropotron.min.js"></script>
			<script src="../../static/assets/main/js/jquery.scrollex.min.js"></script>
			<script src="../../static/assets/main/js/browser.min.js"></script>
			<script src="../../static/assets/main/js/breakpoints.min.js"></script>
			<script src="../../static/assets/main/js/util.js"></script>
			<script src="../../static/assets/main/js/main.js"></script>

	</body>
</html>